<h1>Recommendation Details</h1>
<div>
  <p class="lead">
    {{recommendation.text}}
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at nibh pulvinar enim gravida vehicula in ac mi. Integer
    euismod dui in lorem ultricies molestie. In leo sapien, rhoncus id augue at, ullamcorper dictum ipsum. Morbi lobortis,
    felis eu aliquam tincidunt, mauris elit pretium arcu, vitae fringilla tortor metus non justo. Fusce ornare lacus quis
    eros mattis imperdiet. Fusce dapibus tincidunt ligula ac rhoncus. Curabitur fringilla purus ut feugiat ultricies.
  </p>
  <p>

    Sed id faucibuslibero. Etiam pellentesque felis at elit tincidunt, in venenatis massa condimentum. Praesent tempor lacinia
    orci non dictum. Ut eu sapien justo. In laoreet eleifend eros ut interdum. Aliquam euismod mattis mi a consequat. Vivamus
    porta nulla lorem, id pretium nulla volutpat et. Suspendisse eu felis ultricies, luctus tellus vel, gravida ligula. Pellentesque
    eleifend mauris nulla, a iaculis dui tincidunt nec. Donec sit amet turpis urna. Quisque sed turpis bibendum mi sagittis
    hendrerit. Donec sollicitudin justo aliquam felis fermentum semper. Nunc tempus in velit eu scelerisque. Proin sapien
    quam, tristique at fermentum a, eleifend a augue.
  </p>
</div>
