<h1>Energy Advice Service</h1>
<h4>Enter your postcode below to receive your energy recommendations</h4>
<form action="/search">
  <div class="form-group">
    <label for="postcode">Postcode</label>
    <input class="search-input form-control" type="text" name="postcode" value="{{postcode}}">
  </div>
  <button class="btn btn-primary" type="submit">Search</button>
</form>
{{#postcode}}
  <h4>Properties</h4>
{{/postcode}}
<div class="results">
  {{#each properties}}
    <a href="/rating/{{certificate-hash}}" class="btn btn-secondary search-result">{{address}}</a>
  {{/each}}
</div>
