@import '../colors';

.rating-view {
  .address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
  }

  .payback {
    font-weight: bold;
  }

  $payback-grades: (
    SHORT: $dark-green,
    MEDIUM: $orange,
    LONG: $red,
    OTHER: $grey
  );

  @each $grade, $color in $payback-grades {
    .payback-#{$grade} {
      color: $color
    }
  }

  $co2-impact-tiers: (
    HIGH: '↟',
    MEDIUM: '↑',
    LOW: '⇡'
  );

  .epc-effect {
    display: flex;
    align-items: flex-start;
    .co2-impact {
      margin-left: 5px;
      font-size: 20px;
      @each $tier, $arrow in $co2-impact-tiers {
        &.co2-impact-#{$tier}::before {
          content: $arrow;
        }
      }
    }
  }


  .recommendations-table {
    margin: 20px 0 50px 0;
    table-layout: fixed;

    th:first-of-type {
      width: 40%;
    }

    th.find-an-expert {
      width: 150px;
    }
  }
}
