.whats-next-view {
    .lead {
        margin: 10px 0;
    }

    .table-heading {
        margin: 5px 0 60px 0;
        font-size: 18px;
    }

    .heading {
        font-weight: bold;
    }

    .providers-table {
        margin-top: 40px;
    }
}
