  {{#switch tenure}}
    {{#case 'Landlord'}}
      {{#if compliant}}
        <div class="font-italic">
          <p>
            Stay ahead of regulation by acting on your EPC recommendations.
          </p>
        </div>
      {{else}}
        <div class="alert alert-danger">
          <p><strong>⚠️ This property is not compliant!</strong></p>
          <p>
            It looks like your building is not compliant with the new MEES regulation.
            Check the below recommendations for ways you can get compliant and avoid the fines.
          </p>
        </div>
      {{/if}}
    {{/case}}
    {{#case 'Tenant'}}
      <div class="font-italic">
        <p>
          Save money and reduce energy waste by acting on your energy efficiency recommendations listed below.
        </p>
      </div>
    {{/case}}
    {{#case 'Owner'}}
      {{#if compliant}}
        <div class="font-italic">
          <p>
            Save your business money and reduce waste by acting on your energy efficiency recommendations listed below.
          </p>
        </div>
      {{else}}
        <div class="alert alert-warning">
          <p><strong>⚠️ Save your business money and reduce waste!</strong></p>
          <p>
            Looks like your building is very inefficient, take a look at the recommendations below and work out what you can do.
          </p>
        </div>
      {{/if}}
    {{/case}}
  {{/switch}}
